# Системні файли та директорії
/.DS_Store
/.Trash/
/.CFUserTextEncoding
/.cache/
/.config/
/.docker/
/.gitconfig
/.idlerc/
/.lesshst
/.npm/
/.pgadmin/
/.psql_history
/.python_history
/.ssh/
/.viminfo/
/.vscode/
/.zprofile
/.zsh_history
/.zsh_sessions/
/Library/
/Desktop/
/Documents/
/Downloads/
/Movies/
/Music/
/Pictures/
/Public/